<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="https://github.com/wislon/translink-opiaproxy">OpiaProxy</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Welcome to OpiaProxy!</h2>
            </hgroup>
            <p>
                OpiaProxy is a caching proxy, with a set of clients and public-transport related objects that allows you quick and easy access to TransLink's Online Passenger Information Application (OPIA) directly over the Internet, via HTTP.
            </p>
            <p>
                To learn more about OpiaProxy and how to use its simple API, please visit
                <a href="https://github.com/wislon/translink-opiaproxy" title="OpiaProxy - Easy Caching Proxy for Translink's OPIA REST API">https://github.com/wislon/translink-opiaproxy</a>.
            </p>
            <p>
                If you have any questions please visit the <a href="https://groups.google.com/forum/?hl=en#!forum/translink-australia-opendata">Google groups</a> provided by TransLink for this purpose. They are invite-only at this point, but if
                you send an email to <a href="mailto:developers@translink.com">developers@translink.com</a>, they'll be able to help you out.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Have a look at the readme at the Open Source <a href="https://github.com/wislon/translink-opiaproxy">OpiaProxy</a> project on GitHub
            </li>

            <li class="two">
                <h5>Quick code samples</h5>
                Load up the basic samples have a look at the example code:
                <a href="https://github.com/wislon/translink-opiaproxy/tree/master/Samples">Code samples</a>
            </li>
            <li class="three">
                <h5>Fork it, add to it, make it better for everyone</h5>
                ...or just use it as a backbone for your own applications. It's free (at least for now)!
            </li>
        </ol>
    </section>
</div>
